
html,body{
    height: 100%;
    margin: 0;
    overflow: hidden;
}
.centerRow{
    height: 100%;
}
.frame{
    height: 100%;
    position: absolute;
}
#nameInputGrp{
    width: 60%;
    min-width: 576px;
    margin: 0 auto;
}

#namesList {
    margin-top: 1rem;
    max-height: 500px;
    overflow: auto;
    overflow-x: hidden;
}