
html,body{
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}
.centerRow{
    height: 100%;
}

.frame{
    display:block;
    height: 100%;
    position: absolute;
}

.slide-in-left{
    animation: anim-left 300ms;
    animation-fill-mode: forwards;
    animation-delay: 150ms;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

.slide-out-left{
    animation: anim-left 200ms;
    animation-fill-mode: both;
    animation-direction: reverse;

    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}

.slide-in-right{
    animation: anim-right 300ms;
    animation-fill-mode: forwards;
    animation-delay: 150ms;
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

.slide-out-right{
    animation: anim-right 200ms;
    animation-fill-mode: both;
    animation-direction: reverse;
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}


@keyframes anim-left {
    from{
        transform:translateX(-300px);
        opacity: 0;
        z-index: 0;
    }
    to{
        transform:translateX(0px);
        opacity: 1;
        z-index: 100;
    }
}

@keyframes anim-right {
    from{
        transform:translateX(300px);
        opacity: 0;
        z-index: 0;
    }
    to{
        transform:translateX(0px);
        opacity: 1;
        z-index: 100;
    }
}

#loadingFrame{
    z-index: 1000;
    background-color: #007bff;
    color: #ffffff;
    font-size: 3rem;
    font-weight: 700;
}
/*Intro Screen*/
#desc{
    margin-top: 1rem;
    font-size: 1.2rem;
    font-style: italic;
}

/*Names List*/
#an-row{
    padding-top: 1rem;
}

.sm-to-60{
    margin: 0 auto;
}

#namesList {
    margin-top: 1rem;
    max-height: 500px;
    overflow: auto;
    overflow-x: hidden;
}

#namesList li{
    padding: 0.5rem 0.75rem;
    text-align: left;
    font-size: 1.2rem;
}

.nl-remove{
    font-weight: 700;
}

.nl-remove a{
    text-decoration: none;
}

#selectVariant{
    margin-top: 1rem;
    font-size: 1.5rem;
    position: relative;
}

/*Variant Selection*/
#selectVariantFrame button{
    display: block;
    clear: both;
    white-space: normal;
    margin-top: 1rem;
}
/*Game Screen*/
.gs-opt{
    font-size: 3rem;
}
#another{
    margin-top: .5rem;
}

@media screen and (min-device-width: 577px) {
    .sm-to-60 {
        width: 576px;
        min-width: 60%;
        max-width: 100%;
    }
}
@media screen and (max-device-width: 576px){
    .sm-to-60{
        width: 100%;
    }
    #namesList li{
        font-size: 1rem;
        padding: 0.3rem 0.5rem;
    }
    #an-btn,#nameInput{
        line-height: 24px;
    }
    h1 {
        font-size: 2rem;
    }
    .display-1{
        font-size: 2.5rem;
    }
    .gs-opt{
        font-size: 2.25rem;
        display: inline;
    }
    .gs-opt:last-of-type{
        margin-bottom: 0.5rem;
        display: inline-block;
    }
}
